#ol{
    display: flex;
    margin: 45px;
    position: absolute;
    list-style: none;
    font-weight:bolder;
    top:550px;
    
}
#ol  a{
    text-decoration: none;
    color: red;
    font-size:20px;
    left: 500px;


}
#ol a:hover{
    text-decoration: underline;
}